<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="./css/style.css">
     <script src="./Js/app.js"></script>
</head>

<body>
    {{!-- load paritals view --}}


    <div class="main-content">
          {{>header}}
    <h1>{{title}}</h1>
    </div>
  
     {{>footer}}
</body>


</html>