<!DOCTYPE html>

<html>

<head>
  <title>Weather App</title>
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>Use this site to get your Weather!</p>
    <form>
      <input placeholder="Locations">
      <button>Search</button>
    </form>

    <p id="message-1"></p>
    <p id="message-2"></p>


    <h1>{{title}}</h1>
  </div>
  {{>footer}}
  <script src="./Js/app.js"></script>
</body>

</html>